.loader_wrap {
	text-align: center;
	font-weight: 600;
	padding-top: 5em;
}

.spinner {
	border: 0.3em solid #f3f3f3;
	border-radius: 50%;
	border-top: 0.3em solid teal;
	width: 2em;
	height: 2em;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
